# 忽略Git相关文件
.git
# .gitignore - 需要此文件用于Docker构建

# 忽略构建产物
build/

# 忽略Gradle缓存
.gradle/

# 忽略IDE文件
.idea/
*.iml
*.iws
*.ipr

# 忽略Docker相关文件
Dockerfile
docker-compose.yml
.dockerignore

# 忽略macOS系统文件
.DS_Store

*.crt
*.pem
